# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual Environment
venv/
env/
env.bak/
env1/
venv1/
*.venv
.venv/
.vscode/
.env

# IDE
.idea/
.vscode/

# Logs
*.log

# Build
build/
dist/
*.egg-info/
*.egg

# Cache
*.cache/
.ccache/

# Miscellaneous
*.bak
*.swp
*.tmp
*.tmp.*
*~
*.DS_Store